.checkmark-circle {
	stroke: var(--xpb-income, #588157);
	stroke-width: 4;
	stroke-miterlimit: 10;
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark-check {
	stroke: var(--xpb-income, #588157);
	stroke-width: 4;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.4s 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}
