# Example environment variables for development

# Database configuration
DATASOURCE_URL=jdbc:mariadb://localhost:3306/xpenbox_db
DATASOURCE_USERNAME=root
DATASOURCE_PASSWORD=root

# CORS configuration
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200

# JWT key paths
JWT_PUBLIC_KEY_PATH=/path/to/your/publicKey.pem
JWT_PRIVATE_KEY_PATH=/path/to/your/privateKey.pem

# Application path
APP_PATH=.

# Email Endpoint configuration
EMAIL_API_URL=https://api.emailservice.com/send

# Frontend URL
FRONTEND_URL=http://localhost:4200

# MercadoPago Token secret
MP_TOKEN_SECRET=YOUR_MERCADOPAGO_TOKEN_SECRET

# MercadoPago Webhook secret key
MP_WEBHOOK_SECRET_KEY=YOUR_MERCADOPAGO_WEBHOOK_SECRET_KEY

# Firebase Admin SDK configuration
FIREBASE_ADMIN_SDK_JSON_PATH=path/to/your/firebaseAdminSdk.json