<div class="mb-3">
    <label class="block text-sm font-medium xpb-text-secondary mb-2">{{ carouselTitle() }}</label>
    <div class="overflow-x-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none] md:[&::-webkit-scrollbar]:block md:[scrollbar-width:thin] md:scrollbar-thin md:scrollbar-thumb-gray-300 md:scrollbar-track-transparent"> 
    @if (isLoading()) {
        <app-loading-ui [cssClasses]="''"></app-loading-ui>
    } @else if (errorLoading()) {
        <div class="w-full text-center">
            <div class="text-center text-xs xpb-text-expense">{{ carouselErrorMessage() }}</div>
            <button type="button" 
                (click)="sendRetry()"
                class="inline-block text-[var(--xpb-primary)] rounded-lg font-medium transition-colors text-xs">
                Reintentar
            </button>
        </div>
    } @else {
        <div class="flex gap-2 px-1 py-2">
            @if (accountsList()!.length === 0) {
                <div class="w-full">
                    <div class="text-center text-xs xpb-text-secondary">
                        {{ noAccountsMessage() }}
                    </div>
                </div>
            } @else {
                @for (account of accountsList(); track account.resourceCode) {
                    <button
                        type="button"
                        (click)="selectAccount(account)"
                        [style.border]="isSelectedAccount(account.resourceCode) ? '2px solid var(--xpb-primary)' : '2px solid transparent'"
                        [class.bg-[var(--xpb-primary)]]="isSelectedAccount(account.resourceCode)"
                        [class.font-bold]="isSelectedAccount(account.resourceCode)"
                        [style.box-shadow]="isSelectedAccount(account.resourceCode) ? '0 0 12px rgba(0, 0, 0, 0.15)' : '0 0 8px rgba(0, 0, 0, 0.1)'"
                        class="flex-shrink-0 flex flex-col items-start bg-white rounded-lg px-3 py-2 w-[130px] hover:border-[var(--xpb-primary)] transition-all cursor-pointer active:scale-95" 
                        style="box-shadow: 0 0 8px rgba(0, 0, 0, 0.1)">
                        <div class="flex items-center gap-2 w-full">
                            <span class="material-icons text-base">{{account.icon}}</span>
                            <span class="text-xs font-medium truncate flex-1">{{ account.name }}</span>
                        </div>
                        <span class="text-xs font-semibold w-full truncate" [class.xpb-text-secondary]="!isSelectedAccount(account.resourceCode)">
                             {{ currencySymbol() }} {{ account.balance | number:'1.2-2' }}
                        </span>
                    </button>
                }
            }
        </div>
    }
</div>

