name: CI/CD Pipeline - Backend

on: 
  push:
    paths: ['xpenbox-back/src/**', 'xpenbox-back/pom.xml', '.github/workflows/back-workflow.yml']
    branches: [main, dev]
  workflow_dispatch:

jobs:
  trivy_scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: "fs"
          scan-ref: "xpenbox-back/"
          ignore-unfixed: true
          severity: "CRITICAL,HIGH"
          scanners: "vuln"

  build-and-dockerize:
    needs: [trivy_scan]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "maven"

      - name: Build Native Binary for Production
        if: github.ref == 'refs/heads/main'
        run: |
          cd xpenbox-back
          mvn package -Dnative -Dquarkus.native.container-build=true -DskipTests

      - name: Build Native Binary for Non-Production
        if: github.ref != 'refs/heads/main'
        run: |
          cd xpenbox-back
          mvn package -Dnative -Dquarkus.native.container-build=true -Dquarkus.profile=dev -DskipTests

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/xpenbox-back
          tags: |
            type=ref,event=branch
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./xpenbox-back
          file: ./xpenbox-back/src/main/docker/Dockerfile.native-micro
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64